# IDE-specific files
.idea/*

# Python files we don't care about
__pycache__/*
src/__pycache__/*
*.pyc
.venv/

# macOS files we don't care about
*.DS_Store

# User-specific files aren't stored in Git.
# (although we are storing the alias file, which is intended to be user-specific at some point)
usr/*.html
usr/*.db
usr/*.db-journal

# log files
app.log*